<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header>
      <nav>
        <a href="/">Home</a>
        <a href="/episodes">Episodes</a>
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      &copy; Podcast App
    </footer>
    <script src="/js/main.js"></script>
  </body>
</html>